@media (max-width: 1460px) {
  .main-header {
    &__catalog-menu {
      &-inner {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
@media (max-width: 1400px) {
  .main-header {
    // Content START
    &__logo-wrap {
      margin-right: 30px;
    }
    &__logo {
      width: 165px;
    }
    &__search-wrap {
      width: 275px;
      margin-right: 35px;
    }
    // Content END
    // Nav START
    &__menu {
      &-item {
        padding: 0 20px;
        font-size: 14px;
      }
    }
    // Nav END
  }
  .container {
    max-width: 1250px;
  }
  .section {
    &--spaced {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .overlay-cdk {
    .overlay-cdk__contact-form {
      .form-input-wrap {
        width: 50%;
      }
      .form-textarea-wrap {
        width: 100%;
      }
    }
  }
}
@media (max-width: 1300px) {
  .container {
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  body {
    &.header-fixed {
      padding-top: 280px; // Fixed header height
    }
  }
  .main-header {
    // Nav START
    &__menu {
      &-item {
        padding: 0 10px;
        font-size: 14px;
      }
    }
    // Nav END
    &__catalog-menu {
      &-inner {
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .main-footer {
    // Top START
    &__menu {
      column-count: 2;
      column-gap: 25px;
      &-item {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
    &__schedule {
      margin-left: auto;
      &-item {
        &-title {
          font-size: 16px;
        }
        &-time {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .catalog-page-menu {
    &__letters {
      display: flex;
      justify-content: space-between;
    }
    &__letter {
      font-size: 18px;
      line-height: 24px;
      padding: 4px;
      min-width: 28px;
      min-height: 28px;
    }
  }
  .main-header {
    &__catalog-letters {
      display: flex;
      justify-content: space-between;
    }
    &__catalog-letter {
      font-size: 18px;
      line-height: 24px;
      padding: 4px;
      min-width: 28px;
      min-height: 28px;
    }
  }
}
@media (max-width: 992px) {
  body {
    &.header-fixed {
      padding-top: 175px; // Fixed header height
    }
  }
  h1,
  h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px;
  }

  .main-header {
    &--fixed {
      .main-header__nav-wrap {
        display: block;
      }
      .main-header__catalog-btn-wrap--fixed {
        display: none;
      }
    }

    // Bar START
    &__bar {
      padding: 8px 0;
    }
    &__location-wrap {
      margin-right: 30px;
    }
    // Bar END

    // Content START
    &__content-wrap {
      // display: none;
      padding: 0 !important;
    }
    &__content {
      .main-header__search-wrap {
        // display: none;
      }
      .main-header__contacts-container {
        display: none;
      }
    }
    &__logo-wrap {
      margin: auto;
      width: 110px;

      display: none;
    }
    &__logo {
      &-city {
        font-size: 11px;
      }
    }
    &__mobile-logo {
      display: block;
    }

    &__search-wrap {
      position: absolute;
      z-index: 1;
      top: 100%;
      width: 100%;
      left: 0;
      background: #fff;
      padding: 4px 0;
      display: none;

      &.open {
        display: block;
      }
    }
    // Content END

    // Nav START
    &__nav-wrap {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &__nav {
      .main-header__menu-wrap {
        display: none;
      }
    }
    &__catalog-btn-wrap {
      margin-right: 15px;
    }
    &__catalog-btn {
      padding: 6px 6px;

      i {
        margin-right: 8px;
        font-size: 21px;
      }
      span {
        font-size: 14px;
        line-height: 24px;
      }
    }
    // Nav END
    // Menu catalog START
    &__catalog-menu-section {
      margin-bottom: 30px;
      &-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #1b1b1b;
        margin-bottom: 16px;
      }

      &-list {
        list-style: none;
        &-item {
          font-size: 14px;
          line-height: 20px;
          color: #1b1b1b;

          a {
            color: #1b1b1b;
            text-decoration: none !important;
          }

          &::before {
            content: "\2022";
            color: #128ad6;
            font-weight: bold;
            display: inline-block;
            font-size: 15px;
            margin-right: 6px;
          }
        }
      }
    }
    // Menu catalog END
  }
  .main-footer {
    // Top START
    &__top {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    &__socials {
      margin-top: 30px;
    }

    &__menu {
      // column-gap: 25px;
      column-count: 1;
      margin-bottom: -20px;
      &-item {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }

    &__schedule {
      &-item {
        &-title {
          font-size: 14px;
          line-height: 24px;
        }
        &-time {
          font-size: 12px;
          line-height: 28px;
        }
      }
    }
    // Top END

    // Bottom START
    &__bottom {
      padding-top: 20px;
      padding-bottom: 40px;
      font-size: 12px;
      line-height: 22px;
      p {
        font-size: 12px;
        line-height: 22px;
      }
    }
    // Bottom END
  }

  .partners-swiper-wrap {
    .swiper-button-prev {
      left: -60px;
    }
    .swiper-button-next {
      right: -60px;
    }
  }

  .vert-card {
    padding: 20px 15px;
    padding-bottom: 30px;

    &--btn {
      padding: 20px 15px;

      .vert-card__title {
        font-size: 18px;
        line-height: 28px;
      }
      .vert-card__subtitle {
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        color: #fff;
        span {
          margin-right: 8px;
        }
        i {
          font-size: 18px;
        }
      }
    }

    &__btn-wrap {
      left: 15px;
      bottom: 15px;
    }
    &__btn {
      padding: 14px;
    }
  }
  .catalog-table {
    &__header {
      padding: 26px 20px;
      padding-bottom: 20px;
    }
    &__title {
      font-size: 28px;
      line-height: 44px;
    }

    &__download-btn {
      margin-left: 0;
      text-align: left;
      justify-content: flex-start;
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 24px;
    }
    &__link {
      text-align: left;
      justify-content: flex-start;
      font-size: 12px;
      line-height: 24px;
    }

    &__body {
      padding: 25px 20px;
      padding-bottom: 30px;

      .col-md-4 {
        &:nth-child(3n - 1) {
          .catalog-table__collapse {
            margin-left: 0;
          }
        }
        &:nth-child(3n) {
          .catalog-table__collapse {
            margin-left: 0;
          }
        }
      }
    }
    &__collapse {
      max-width: none;
    }
  }

  .catalog-page-menu {
    &__letters {
      display: flex;
      justify-content: space-between;
    }
    &__letter {
      font-size: 14px;
      line-height: 24px;
      padding: 4px;
      min-width: 22px;
      min-height: 22px;
    }
  }
  .main-header {
    &__catalog-letters {
      display: flex;
      justify-content: space-between;
    }
    &__catalog-letter {
      font-size: 14px;
      line-height: 24px;
      padding: 4px;
      min-width: 22px;
      min-height: 22px;
    }
  }

  .product-page-info {
    &__col {
      &--info {
        width: 100%;
        margin-bottom: 20px;
      }
      &--packing {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .section {
    &--spaced {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .main-header {
    &--fixed {
      .main-header__catalog-menu-inner-content {
        max-height: 65vh;
      }
    }
    &__catalog-menu {
      &-inner {
        &-content {
          max-height: 50vh;
        }
      }
    }
  }
  .main-footer {
    &__bottom {
      flex-wrap: wrap;
      &-copyright {
        width: 100%;
        margin-bottom: 15px;
        text-align: left;
      }
      &-links {
        width: 100%;
        margin-bottom: 15px;
        text-align: left;
      }
      &-description {
        width: 100%;
        text-align: left;
      }
    }
  }

  .partners-swiper-wrap {
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
  }
  .partners-swiper {
    width: 80%;
  }
  .partner-card {
    padding: 10px;
    min-height: 90px;
  }

  .floating-manager-wrap {
    top: unset;
    bottom: 60px;
    width: 100%;
    max-width: 300px;

    transform: translateX(calc(100% - 32px));
  }
  .floating-manager {
    padding: 10px 12px;
    padding-left: calc(12px + 32px); // label width

    &__label-wrap {
      width: 32px;
    }
    &__label {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;

      i {
        font-size: 16px;
      }
    }

    &__info {
      margin-bottom: 12px;
      &-image-wrap {
        margin-right: 7px;
      }
      &-image {
        width: 45px;
        height: 45px;
      }
    }
    &__name {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 4px;
    }
    &__position {
      font-size: 16px;
      line-height: 22px;
    }

    &__contacts {
      &-icon-wrap {
        i {
          font-size: 16px;
        }
      }
      &-content {
        &-item {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .product-page-gallery-wrap {
    .product-page-info__status-wrap {
      display: block;
    }
  }
  .product-page-info {
    margin-bottom: 15px;

    &__col {
      width: 100%;
    }
    &__row {
      margin-bottom: 15px;
    }

    &__btn {
      max-width: none;
    }

    &__image-wrap {
      max-width: none;
      .product-page-info__status-wrap {
        display: block;
      }
    }

    &__description {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
    }

    &__downloads {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
    }

    &__order-btn-wrap {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
    }
    &__order-btn {
      max-width: none;
    }

    &__info {
      background: none;
      padding: 0;
    }
    &__benefits {
      display: none;
    }
    &__packing {
      &-header {
        display: block;
      }
    }
  }

  .icon-element {
    &--card {
      height: auto;
    }
  }

  .catalog-page-menu {
    &__letters {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    &__letter {
      font-size: 22px;
      line-height: 24px;
      padding: 4px;
      min-width: 36px;
      min-height: 36px;
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
  .main-header {
    &__catalog-letters {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    &__catalog-letter {
      font-size: 22px;
      line-height: 24px;
      padding: 4px;
      min-width: 36px;
      min-height: 36px;
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .product-page-header {
    display: none;
  }
  .product-page-header-mobile {
    display: block;
  }
}
@media (max-width: 576px) {
  .p2 {
    font-size: 14px;
  }
  .p3 {
    font-size: 14px;
  }
  .section {
    &--spaced {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .section-hero__download-btn {
    &-text {
      font-size: 14px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .catalog-table {
    &__collapse {
      &-btn {
        font-size: 14px;
      }
    }
  }
  .news-card {
    &__header {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .catalog-page-sidebar {
    padding: 25px 15px;
  }

  h1,
  h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .section-hero {
    &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 50px;
    }
  }
  .section-partners {
    min-height: 0;
  }

  .section__header {
    &-arrow {
      align-items: flex-start;
      span {
        margin-right: 6px;
        font-size: 10px;
      }
      i {
        font-size: 14px;
      }
    }
    &-download-btn {
      margin-top: -6px;
      font-size: 10px;
      i {
        margin-left: 7px;
        font-size: 14px;
      }
    }
  }

  .main-header {
    // Bar START
    &__location-wrap {
      margin-right: 20px;
    }
    &__location {
      i {
        font-size: 12px;
        margin-right: 4px;
      }
      span {
        font-size: 10px;
        line-height: 14px;
      }
    }
    &__countries {
      &-item {
        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
    &__socials {
      &-item {
        &-link {
          img {
            margin-right: 0;
          }
          span {
            display: none;
          }
        }
      }
    }
    // Bar END
  }
  .main-footer {
    &__top {
      flex-wrap: wrap;
    }
    &__contacts-col {
      width: 100%;
      margin-bottom: 15px;
    }
    &__contacts {
      margin: 0;
    }
    &__menu-col {
      width: 100%;
      margin-bottom: 15px;
    }
    &__menu {
      margin: 0;
    }
    &__schedule-col {
      width: 100%;
    }
    &__schedule {
      margin: 0;
      max-width: none;
    }
  }

  .partners-swiper {
    width: 65%;
  }
  .player-tabs {
    &__controller {
      top: 20px;
      right: 20px;

      &-btn {
        font-size: 12px;
        padding: 6px 14px;
      }
    }
  }
  .scrolling-container-lined-wrapper {
    height: 375px;
  }
  .scrolling-container-lined-wrap {
    padding: 20px;
  }
  .star-card-wrap {
    max-width: 200px;
  }
  .star-card {
    &__footer {
      padding: 6px;
      font-size: 12px;
      line-height: 18px;
      width: 100%;
      min-height: 48px;
    }
  }

  .scrolling-container-wrapper {
    min-height: 350px;
  }
  .scrolling-container {
    .swiper-scrollbar {
      width: 97%;
    }
  }
  .scrolling-container-lined {
    .swiper-scrollbar {
      width: 97%;
    }
  }

  .overlay-cdk {
    .overlay-cdk__content-wrap {
      padding: 30px 15px;
    }
    .overlay-cdk__contact-form {
      margin: 0;
      .form-input-wrap {
        width: 100%;
        padding: 0;
      }
      .form-textarea-wrap {
        width: 100%;
      }
    }
  }

  .product-page-message {
    align-items: flex-start;

    &__content {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .product-table {
    display: block;
    thead {
      display: none;
    }
    tbody {
      display: block;
    }
    .product-table__title {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    tr {
      display: block;
      th,
      td {
        display: block;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
      }
    }

    &__mobile {
      &-title {
        display: block;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #1b1b1b;
      }
      &-text {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: #1b1b1b;
      }
    }
  }
}
@media (max-width: 350px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .section-hero {
    &__title {
      font-size: 24px;
    }
  }
}

// tb-notification-widget fix
@media only screen and (min-device-width: 481px) {
  tb-notification-widget
    #tb-notification-widget-inner.tb-notification-widget-inner
    .tb-nw-wahunter_mode_inline
    .tb-nw-wahunter__submit-form {
    min-width: 0 !important;
  }
}
